doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
    img(src='https://cdn.georgeinstitute.org/sites/default/files/2020-10/world-food-day-2020.png')
    block content
